<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<body>
 <h1>This is Book List</h1>
 <table>
   <tr>
     <th>Id</th>
     <th>Title</th>
     <th>Description</th>
     <th>Author</th>
   </tr>
   <tr th:each="book: ${books}">
     <td th:text="${book.bookId}"></td>
     <td th:text="${book.bookTitle}"></td>
     <td th:text="${book.bookDescription}"></td>
     <td th:text="${book.authorName}"></td>
   </tr>
 </table>
</body>
</head>
</html>
